/* Center the loader */

#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

#myDiv {
    display: none;
    text-align: center;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

.pagination {
    display: inline-block;
    padding: 10px;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    font-size: 22px;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}
.userDash{
    float: left;
    width: 45%;
    margin-left: 20%;
}
.popular-menus{
    float: right;
    width: 30%;
    margin-right: 1%;
}
.custMenu td img{
    height: 60px;
    border-radius: 200%;
}
.btn-addcart{
    width: 100px;
    height: 50px;
    color: #fff;
    background-color: rgba(0, 0, 255, 0.687);
    border-radius: 15%;
    font-size: 15px;
}
.btn-addcart:hover{
    background-color: rgb(50, 182, 132);
}
.popular-items ul{
    list-style: none;
    padding: 20px;
}
.popular-items ul li{
    margin-bottom: 20px;
}
.meal-day{
    float:left;
}
.meal-day img{
    height: 60px;
    border-radius: 200%;
}
.meal-day table td button,
.btnfav {
    height: 40px;
    width: 100px;
    background-color: #3498db;
    border-radius: 10%;
    font-size: 15px;
    color:#fff;
}
.meal-day table td button:hover ,
.btnfav:hover{
    background-color: #151bce;
    
}
/*Dropdown Cartegory*/
.categoryDiv{
    float: left;
    margin-bottom: 10px;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    width: 200px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    width: 250px;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: justify;
}

.dropdown-content a {
    color: rgb(38, 29, 213);
    padding: 10px 5px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
