*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    color: #555;
    font-weight: 300;
    font-size: 20px;
}
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.612), rgba(7, 7, 7, 0.112)),url('./backgroundimgs/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
/*Logo aand The Nav Bar*/

.logo{
    float: left;
    height: 100px;
    width: auto;
    border-radius: 200%;
}
.main-nav{
    float: right;
    list-style: none;
    margin-right: 20px;
}
.main-nav li{
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.5s; 
}
#btnsignUp,
#btnsignIn {
    color:#fff;
    cursor: pointer;
}
.main-nav li a:hover,
.main-nav li a:active{
    color: rgb(244, 234, 133);
    /* background-color: rgb(216, 159, 14); */
    border-bottom: 2px solid #E67E22;
}

/*The Button and Message that Floats in the middle  */
.sideMessage{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
h1{
    margin-top:0px;
    margin-bottom: 20px; 
    color: rgb(240, 236, 236);
    font-weight: 300; 
    text-transform: uppercase;
    font-size: 200%;
    word-spacing: 4px;
}
.bt:link,
.bt:visited  {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    
}
.bt-full:link,
.bt-full:visited{
    background-color: #E67E22;
    border: 1px solid #e67e22;
    color: #fff;
    transition: background-color 0.2s, border 0.2s , color 0.2s;
}
.bt-ghost:link,
.bt-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22; 
}
.bt:hover,
.bt:active {
    background-color: #b17c4d;
    border:1px solide rgb(203, 148, 54);
    color:rgb(230, 205, 121);
}

/*My SigUp Modal*/
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 10px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #282a2eb3;
    overflow: auto;
    
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
/* Clear floats */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Modal Content */
.modal-content {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    color: #fff;
    background-color: #1a1818cd;
}

/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*Close Sign up*/
.Close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.Close:hover,
.Close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modalHeader{
    text-align: center;
    font-weight: 400;
    font-size: 130%;
    text-decoration: underline;
}
.modalForm{
    display: block;
    padding: 10px;
    margin-left: 10%;
}
.modalForm input{
    width: 90%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 2%;
    font-size: 20px;
}
.btnSignUp{
    color: #fff;
    background-color: #E67E22;
    border-radius: 5px;
    width: 80px;
    height: 30px;
}
.btnSignUp:hover{
    background-color: rgb(194, 225, 133);
}
/* Full-width input fields */

.modalForm input {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

/* Add a background color when the inputs get focus */

.modalForm input:focus {
    background-color: #ddd;
    outline: none;
}
.cancelbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    padding: 14px 20px;
    background-color: #f44336;
    float: left;
    width: 50%;
}
.cancelbtn:hover{
    opacity: 1;
}
.signupbtn{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    float: left;
    width: 50%;
}
.signupbtn:hover{
    opacity: 1;
}
.loginbtn{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    float: left;
    width: 50%;
    margin-left: 20%;
}
.loginbtn:hover{
    opacity: 1;
}
.food-delivers{
    text-align: center;
}
.food-delivers h1{
    color: rgba(0, 0, 0, 0.639);
}
.gallary h1{
    color: rgb(68, 125, 196);
    text-align: center;
    margin-top: 20px;
}
/*Image for Gallary*/
.my-container {
    position: relative;
    margin: 20px 20px;
    float: left;
    
}

.my-image {
    display: block;
    width: 230px;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 173px;
    width: 230px;
    opacity: 0;
    transition: .3s ease;
    background-color: #008CBA;
}

.my-container:hover .overlay {
    opacity: 1;
}

.my-text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.our-cities{
    float: left;
}
.our-cities h1{
    color: rgb(33, 74, 211);
}
.footer{
    float: left;
    background-color: rgba(0, 0, 0, 0.365);
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 10px;
}